.catalog__product {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e8e8e8;
    margin: 0 10px;
}

.catalog__link {
    text-decoration: none;
    color: #000;
}