.header__menu-toggler {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.header-button,
.header-button::before,
.header-button::after {
    display: block;
    background-color: #00c9c8;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.header-button::before {
    content: '';
    margin-top: -8px;
}

.header-button::after {
    content: '';
    margin-top: 8px;
}




@media (max-width: 1000px) {
    .header__menu-toggler {
        display: flex;
    }
}