.product__features-links {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px #f4f4f4;
}


@media screen and (max-width: 430px) {
    .product__features-links {
        width: 100%;
    }
}