<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Гарантия и возврат</title>
    <link rel="stylesheet" href="./pages/index.css" />

</head>

<body class="page">
    <header class="header">
        <div class="header__top">
            <div class="header__top_left">
                <ul class='header__list'>
                    <li class='header__social-item'>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img class='header__social-iqon' src="./images/phone.svg" alt='logo' />
                        </a>
                    </li>
                    <li class='header__social-item'>
                        <a href="#">
                            <img class='header__social-iqon' src="./images/whatsapp.svg" alt='logo' />
                        </a>
                    </li>
                    <li class='header__social-item'>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img class='header__social-iqon' src="./images/instagram.svg" alt='logo' />
                        </a>
                    </li>
                    <li class='header__social-item'>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img class='header__social-iqon' src="./images/telegram.svg" alt='logo' />
                        </a>
                    </li>
                    <li class='header__social-item'>
                        <a href="#" target="_blank" rel="noreferrer">
                            <img class='header__social-iqon' src="./images/vk.svg" alt='logo' />
                        </a>
                    </li>
                </ul>
            </div>

            <div class="header__top_right">
                <nav class="header__menu-horizontal">
                    <ul class="header__list">
                        <li class="header__menu-links"><a href="#" class="header__menu-link">О нас</a></li>
                        <li class="header__menu-links"><a href="#" class="header__menu-link">Оплата и доставка</a></li>
                        <li class="header__menu-links"><a href="#" class="header__menu-link">Гарантия и возврат</a></li>
                        <li class="header__menu-links"><a href="#" class="header__menu-link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header__center">
            <div class="header__center_left">
                <a href="index.html" rel="noreferrer">
                    <img class='header__logo' src="./images/logo.png" alt='logo' />
                </a>
                <h1 class="header__center_title">Интернет-магазин товаров для ванной комнаты</h1>
            </div>

            <div class="header__center_center">
                <ul class="header__list">
                    <li class="header__services-links">
                        <img class='header__center_iqon' src="./images/icon_2.png" alt='logo' />
                        <p class="header__center_text">Бесплатная доставка от 3000 руб.</p>
                    </li>
                    <li class="header__services-links">
                        <img class='header__center_iqon' src="./images/icon_1.png" alt='logo' />
                        <p class="header__center_text">Удобные способ оплаты </p>
                    </li>
                    <li class="header__services-links">
                        <img class='header__center_iqon' src="./images/icon_3.png" alt='logo' />
                        <p class="header__center_text">Гарантия на все товары </p>
                    </li>
                </ul>
            </div>

            <div class="header__center_right">
                <ul class='header__list_menu'>
                    <li class='header__menu-item'>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </li>
                    <li class='header__menu-item'>
                        <a href="#" target="_blank" rel="noreferrer">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class='header__menu-item'>
                        <a href="#" target="_blank" rel="noreferrer">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class='header__menu-item'>
                        <input id="menu-toggle" type="checkbox" />
                        <label class='header__menu-toggler' for="menu-toggle">
                            <div class='header-button'></div>
                        </label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header__bottom">
            <nav class="header__menu-horizontal">
                <ul class="header__list">
                    <li class="header__menu-links"><a href="#" class="header__catalog-link">Раковины</a></li>
                    <li class="header__menu-links"><a href="#" class="header__catalog-link">Смесители</a></li>
                    <li class="header__menu-links"><a href="#" class="header__catalog-link">Унитазы</a></li>
                    <li class="header__menu-links"><a href="#" class="header__catalog-link">Душевые кабины</a>
                    <li class="header__menu-links"><a href="#" class="header__catalog-link">Ванны</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="menu hide" id="menu">
            <button class='popup__close' id="menu-close"></button>
            <div class="menu__position">
                <span class="menu__title">Категории товаров</span>
                <ul class="menu__list">
                    <li class="menu__links"><a href="group.html" class="menu__link">Раковины</a></li>
                    <li class="menu__links"><a href="#" class="menu__link">Смесители</a></li>
                    <li class="menu__links"><a href="#" class="menu__link">Унитазы</a></li>
                    <li class="menu__links"><a href="#" class="menu__link">Душевые кабины</a>
                    <li class="menu__links"><a href="#" class="menu__link">Ванны</a>
                    </li>
                </ul>
            </div>
            <div class="menu__position">
                <span class="menu__title">Навигация</span>
                <ul class="menu__list" id="menu">
                    <li class="menu__links"><a href="index.html" class="menu__link">О нас</a></li>
                    <li class="menu__links"><a href="#" class="menu__link">Оплата и доставка</a></li>
                    <li class="menu__links"><a href="#" class="menu__link">Гарантия и возврат</a></li>
                    <li class="menu__links"><a href="#" class="menu__link">Контакты</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="content">




    </main>
    <footer class="footer">
        <div class="footer__top">
            <div class="footer__top_right">
                <h3 class="footer__title">О магазине</h3>
                <nav class="footer__menu">
                    <ul class="footer__list">
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">О нас</a></li>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Оплата и доставка</a></li>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Гарантия и возврат</a></li>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="footer__top_center">
                <h3 class="footer__title">Каталог</h3>
                <nav class="footer__menu">
                    <ul class="footer__list">
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Раковины</a></li>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Смесители</a></li>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Унитазы</a></li>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Душевые кабины</a>
                        <li class="footer__menu-links"><a href="#" class="footer__menu-link">Ванны</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="footer__top_right">
                <h3 class="footer__title">Контакты</h3>
                <nav class="footer__menu">
                    <ul class="footer__list">
                        <li class="footer__menu-links">
                            <p class='footer__subtitle'>
                                <img class='footer__contacts-iqon' src="./images/location.png" alt='logo' />Челябинск,
                                Образцова 13
                            </p>
                        </li>
                        <li class="footer__menu-links">
                            <p class='footer__subtitle'>
                                <img class='footer__contacts-iqon' src="./images/location-2.png"
                                    alt='logo' />+7(951)484-00-77
                            </p>
                        </li>
                        <li class="footer__menu-links">
                            <p class='footer__subtitle'>
                                <img class='footer__contacts-iqon' src="./images/email.png"
                                    alt='logo' />colorist@yandex.ru
                            </p>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="footer__bottom">
            <ul class='header__list'>
                <li class='header__social-item'>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img class='header__social-iqon' src="./images/phone.svg" alt='logo' />
                    </a>
                </li>
                <li class='header__social-item'>
                    <a href="#">
                        <img class='header__social-iqon' src="./images/whatsapp.svg" alt='logo' />
                    </a>
                </li>
                <li class='header__social-item'>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img class='header__social-iqon' src="./images/instagram.svg" alt='logo' />
                    </a>
                </li>
                <li class='header__social-item'>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img class='header__social-iqon' src="./images/telegram.svg" alt='logo' />
                    </a>
                </li>
                <li class='header__social-item'>
                    <a href="#" target="_blank" rel="noreferrer">
                        <img class='header__social-iqon' src="./images/vk.svg" alt='logo' />
                    </a>
                </li>
            </ul>
        </div>
        <script src="/scripts/index.js"></script>
</body>

</html>