.slider__link {
    text-decoration: none;

}


.slider__link_text {
    font-size: 18px;
    color: white;
    width: 150px;
    height: 40px;
    background-color: #00c9c8;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .slider__link_text {
        font-size: 15px;
        width: 120px;
        height: 30px;
    }
}