.product__top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}

@media screen and (max-width: 490px) {
    .product__top {
        justify-content: center;
    }
}