.header__center_left {
    width: 15%;
}

@media screen and (max-width: 1000px) {
    .header__center_left {
        width: 25%;
    }
}

@media screen and (max-width: 850px) {
    .header__center_left {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
}