.footer__menu-link {
    text-decoration: none;
    color: #616161;
    margin: 5px auto 0;
    font-size: 17px;
    display: inline-block;
}

.footer__menu-link:hover {
    color: #00c9c8;
    transform: scale(1.2);
}


@media screen and (max-width: 400px) {
    .footer__menu-link {
        font-size: 15px;
    }
}