.header__center_center {
    width: 45%;
}

@media screen and (max-width: 1440px) {
    .header__center_center {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    .header__center_center {
        width: 55%;
    }
}

@media screen and (max-width: 1170px) {
    .header__center_center {
        width: 60%;
    }
}

@media screen and (max-width: 1000px) {
    .header__center_center {
        width: 50%;
    }
}