.header__menu-link {
    text-decoration: none;
    color: #616161;
    margin: 0 10px;
    font-size: 17px;
    display: inline-block;
}

.header__menu-link:hover {
    color: #00c9c8;
    transform: scale(1.2);
}

@media screen and (max-width: 1000px) {
    .header__menu-link {
        margin: 0 5px;
        font-size: 15px;
    }

    .header__menu-link:hover {
        transform: scale(1.1);
    }
}