.footer__top {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 20px auto 10px;
    justify-content: space-between;
}


@media screen and (max-width: 880px) {
    .footer__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
}