.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 860px) {
    .header__top {
        justify-content: center;
    }
}