.menu {
    position: absolute;
    top: 200px;
    right: 0px;
    list-style: none;
    overflow: hidden;
    transition: 5s ease;
    display: block;
    animation: showBlock 1s linear forwards;
    background: rgba(92, 135, 189, .8);
    padding: 0;
    width: 300px;
    opacity: 0.7;
    z-index: 1200;
}

@keyframes showBlock {
    0% {
        opacity: 0;
        right: -150px;
    }

    100% {
        opacity: 1;
        right: 0px;
    }
}

@keyframes showBlocks {
    0% {
        opacity: 1;
        right: 0px;
    }

    100% {
        opacity: 0;
        right: -150px;
    }
}

.hide {

    animation: showBlocks 1s linear forwards;
}


.popup__close {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url(../../images/close.svg);
    background-color: unset;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

@media (max-width: 680px) {
    .menu {
        width: 200px;
    }
}